---
import Nav from './ui/Nav';
import Hero from './Home/Hero.astro';
import FlavorMarquee from './Home/FlavorMarquee.astro';
import BakeryGallery from './Home/BakeryGallery.astro';
import ProductShowcase from './Home/ProductShowcase.astro';
import Story from './Home/Story.astro';
import Testimonials from './Home/Testimonials.astro';
import CTA from './Home/CTA.astro';
import Footer from './Footer.astro';
---

<div class="min-h-screen bg-[hsl(var(--background))]">
	<Nav client:load />
	<!-- <Hero /> -->
	<main>
		<Story />
		<FlavorMarquee />		
		<BakeryGallery />
		<!-- <ProductShowcase />	 -->
		<!-- <Testimonials /> -->
		<!-- <CTA /> -->
	</main>
	<Footer />
</div>
