---
import Nav from '@/components/ui/Nav';
import Hero from '@/components/Home/Hero.astro';
import FlavorMarquee from '@/components/Home/FlavorMarquee.astro';
import BakeryGallery from '@/components/Home/BakeryGallery.astro';
import ProductShowcase from '@/components/Home/ProductShowcase.astro';
import Story from '@/components/Home/Story.astro';
import Testimonials from '@/components/Home/Testimonials.astro';
import CTA from '@/components/Home/CTA.astro';
import Footer from '@/components/Footer.astro';
---

<div class="min-h-screen bg-[hsl(var(--background))]">
	<Nav client:load />
	<Hero />
	<main>
		<Story />
		<FlavorMarquee />		
		<BakeryGallery />
		<ProductShowcase />	
		<!-- <Testimonials /> -->
		<!-- <CTA /> -->
	</main>
	<Footer />
</div>
